alabaster==0.7.12
appdirs==1.4.4
argon2-cffi==20.1.0
async-generator==1.10
attrs==20.3.0
autodocsumm==0.2.2
Automat==20.2.0
Babel==2.9.0
backcall==0.2.0
bcrypt==3.2.0
bleach==3.3.0
brotlipy==0.7.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
constantly==15.1.0
cryptography==3.4.7
cycler==0.10.0
decorator==5.0.6
defusedxml==0.7.1
docutils==0.16
entrypoints==0.3
environment-kernels==1.1.1
hyperlink==21.0.0
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.3
imagesize==1.2.0
importlib-metadata==3.10.0
incremental==21.3.0
ipykernel==5.3.4
ipython==7.22.0
ipython-genutils==0.2.0
jedi==0.17.0
Jinja2==2.11.3
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
kiwisolver==1.3.1
MarkupSafe==1.1.1
matplotlib==3.4.1
meshio==4.3.13
mistune==0.8.4
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nbsphinx==0.8.3
nest-asyncio==1.5.1
notebook==6.3.0
numpy==1.20.2
olefile==0.46
packaging==20.9
pandocfilters==1.4.3
parso==0.8.2
pickleshare==0.7.5
Pillow==8.2.0
pip==21.0.1
prometheus-client==0.10.1
prompt-toolkit==3.0.17
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
Pygments==2.8.1
PyHamcrest==2.0.2
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyrsistent==0.17.3
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2021.1
pyvista==0.29.1
pywin32==227
pywinpty==0.5.7
pyzmq==20.0.0
requests==2.25.1
rise==5.7.1
scooby==0.5.7
Send2Trash==1.5.0
service-identity==18.1.0
setuptools==52.0.0.post20210125
six==1.15.0
snowballstemmer==2.1.0
Sphinx==3.5.4
sphinx-rtd-theme==0.5.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
terminado==0.9.4
testpath==0.4.4
tornado==6.1
traitlets==5.0.5
transforms3d==0.3.1
Twisted==21.2.0
twisted-iocpsupport==1.0.1
typing-extensions==3.7.4.3
urllib3==1.26.4
vtk==9.0.1
wcwidth==0.2.5
webencodings==0.5.1
wheel==0.36.2
win-inet-pton==1.1.0
wincertstore==0.2
zipp==3.4.1
zope.interface==5.3.0
