appdirs==1.4.4
autodocsumm==0.2.3
brotlipy==0.7.0
certifi==2020.12.5
constantly==15.1.0
cycler==0.10.0
docutils==0.17.1
entrypoints==0.3
environment-kernels==1.1.1
imageio-ffmpeg==0.4.3
incremental==21.3.0
jedi==0.18.0
kiwisolver==1.3.1
MarkupSafe==1.1.1
matplotlib==3.4.1
meshio==4.4.2
mistune==0.8.4
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
nbsphinx==0.8.4
numpy==1.20.2
olefile==0.46
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyvista==0.29.1
pywin32==300
pywinpty==1.0.1
pyzmq==22.0.3
scooby==0.5.7
Sphinx==3.5.4
sphinx-rtd-theme==0.5.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
terminado==0.9.4
transforms3d==0.3.1
vtk==9.0.1
webencodings==0.5.1
wincertstore==0.2
