appdirs==1.4.4
attrs==20.3.0
Automat==20.2.0
certifi==2020.12.5
click==7.1.2
constantly==15.1.0
hyperlink==21.0.0
idna==3.1
imageio==2.9.0
imageio-ffmpeg==0.4.3
incremental==17.5.0
meshio==4.3.8
numpy==1.20.1
Pillow==8.1.0
PyHamcrest==2.0.2
pyvista==0.28.1
scooby==0.5.6
six==1.15.0
transforms3d==0.3.1
Twisted==20.3.0
typing-extensions==3.7.4.3
vtk==9.0.1
wincertstore==0.2
zope.interface==5.2.0
