# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: FDSreader testsuite

on:
  workflow_dispatch: {}
  push:
    branches:
      - '**'
    paths:
      - 'fdsreader/**'
  pull_request:
    branches:
      - '**'
    paths:
      - 'fdsreader/**'

permissions:
  contents: read

jobs:
  run-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13']

    name: Python ${{ matrix.python-version }} tests
    steps:
    - uses: actions/checkout@v4
      with:
        lfs: true
    - uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest numpy
        pip install ${{ github.workspace }}
    - name: Prepare test cases
      run: |
        cd ${{ github.workspace }}/tests/cases/
        for f in *.tgz; do tar -xzvf "$f"; done
    - name: Test with pytest
      run: |
        cd ${{ github.workspace }}/tests/cases
        pytest ../acceptance_tests/
